.contacts__button {
	background-color: #070707;
	color: #fff;
	width: 180px;
	height: 42px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	border-style: none;
	border-radius: 25px;
	cursor: pointer;
	transition: opacity 1s ease;
}

.contacts__button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 980px) {
	.contacts__button {
		width: 260px;
	}
}

@media screen and (max-width: 767px) {
	.contacts__button {
		width: 316px;
	}
}
