.portfolio__site {
	max-width: 936px;
	padding-bottom: 45px;
}

@media screen and (max-width: 980px) {
	.portfolio__site {
		max-width: 760px;
		padding-bottom: 35px;
	}
}

@media screen and (max-width: 767px) {
	.portfolio__site {
		max-width: 316px;
		padding-bottom: 33px;
	}
}
