.popup__input-error {
	font-style: 500;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #ff0000;
	display: flex;
	max-width: 358px;
	margin: 5px 0 0 36px;
	opacity: 0;
}
@media screen and (max-width: 767px) {
	.popup__input-error {
		margin: 5px 0 0 22px;
	}
}
