.skills__text {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-weight: 500;
	color: #070707;
	margin: 70px 0 84px 0;
}
@media screen and (max-width: 980px) {
	.skills__text {
		margin: 60px 0 76px 0;
	}
}
@media screen and (max-width: 767px) {
	.skills__text {
		margin: 50px 0 71px 0;
	}
}
