.preview__info {
	max-width: 945px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px auto;
}

@media screen and (max-width: 980px) {
	.preview__info {
		max-width: 760px;
	}
}

@media screen and (max-width: 767px) {
	.preview__info {
		max-width: 316px;
		display: flex;
		flex-direction: column;
		margin: 0 auto 37px auto;
	}
}
