.about-me__text {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	padding: 0 0 44px 0;
	margin: 0;
}

.about-me__text:last-child {
	padding-bottom: 107px;
}

@media screen and (max-width: 767px) {
	.about-me__text:last-child {
		padding-bottom: 76px;
	}
}
