.popup__close-button {
  background: none;
  border: none;
  background-image: url(../../../images/close_icon.svg);
  width: 32px;
  height: 32px;
  transition: opacity 0.5s;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    right: 0;
    background-image: url(../../../images/close_icon_size_s.svg);
    top: -36px;
    width: 20px;
    height: 20px;
  }
}
