.burger__lang {
	position: absolute;
	right: 0px;
	bottom: 57px;
	font-size: 34px;
	line-height: 42px;
	color: #828282;
	max-width: 144px;
	height: 42px;
	transform: rotate(90deg);
	padding: 0;
	margin: 0;
}
